@font-face
{
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

@font-face
{
    font-family: josefin;
    src: url(fonts/abel/Abel-Regular.ttf);
}

body, html
{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main-container
{
    display: flex;
    height: 100vh;
    background-size: cover;
    overflow: hidden; 
    /* overflow: hidden hides the overflow on the page; without it, the overflow is present and an unwanted
       vertical scrollbar appears on brave browser. With it, it hides that overflow and everything fits 
       perfectly in the viewport. */
    flex-wrap: wrap;
}

.main-container > *
{
    flex-grow: 1;
    min-width: 300px;
    padding-bottom: 20px;
}

.lhs-container
{
    background: url('./images/cool-waves.jpg') no-repeat center center;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.logo-bg
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 75, 36, 0.3);
    width: 100%;
    flex-wrap: wrap;
}

.logo-img
{
    width: clamp(85px, 10vw, 100px);
    height: auto;
}

.logo-text
{
    font-family: norse-bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px; 
    color: rgba(255,255,255,1);
}

.lhs-text-container
{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 55, 58, 0.3);
    width: 100%;
    margin-bottom: 15px;
    
}

.footer-text
{
    color: rgb(255, 255, 255);
    font-family: josefin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.rhs-container
{
    background-color: rgb(183, 198, 207);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 5%;
    flex-grow: 1;
}

.rhs-text-container
{
    padding-left: 5%;
    padding-right: 5%;
}

.form-container
{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    background-color: rgb(243, 237, 237);
    width: 95%;
    box-shadow: 3px 8px 8px -1px rgba(0,0,0,0.61);
}

.form-submit-container
{
    width: 100%;
    padding-left: 5%;
    margin: 0;
}

.form-header
{
    color: rgb(30, 38, 61);
    font-family: josefin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px; 
    padding: 0;
    margin: 0;
}

.form-text
{
    color: rgb(87, 151, 235);
    font-family: josefin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px; 
    padding: 0;
    margin: 0;
    display: block;
}

.input-group
{
    display: flex;
}

.form-group
{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 85%;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.submit-group
{
    width: 50%;
}

.login-link
{
    font-family: josefin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

input[type=text], input[type=email], input[type=number], input[type=password]
{
    background: rgb(240, 204, 163);
    border-radius: 4px;
    border: 1px solid rgb(194, 162, 125);
    caret-color: #c46133;
    color: rgb(23, 136, 156);
    padding: 6px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]:valid, input[type=email]:valid , input[type=number]:valid
{
    border: 1px solid #159660;
}

input[type="text"]:invalid, input[type=email]:invalid, input[type=number]:invalid
{
    border: 1px solid #af3c07;
}

input[type=text]:hover, input[type=email]:hover, input[type=number]:hover
{
    border: 1px solid #4ab1da;
}

input[type=text]:focus:invalid, input[type=email]:focus:invalid
{
    border: 2px solid #d36a07;
}

input[type=text]:focus:valid, input[type=email]:focus:valid, input[type=number]:focus:valid
{
    border: 2px solid #07d35c;
}

.error
{
    display: block;
    font-size: 12px;
    color: red;
    padding-top: 2px;
    visibility: hidden;
}

#pass-error
{
    display: block;
    font-size: 12px;
    color: red;
    padding-top: 2px;
    visibility: hidden;
}

input + .error, input:valid + .error, input:invalid:placeholder-shown + .error
{
    display: block;
    visibility: hidden;
    font-size: 12px;
}

input:invalid:focus + .error, input:invalid + .error
{
    visibility: visible;
}

input[type=submit] 
{ 
    background:#4ab1da; 
    cursor:pointer;
    border-radius: 12px; 
    width: 100px;
    height: 50px;
    font-family: josefin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    border: 0;
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
}

input[type=submit]:hover
{
    background-color: #79cff1;
}

label
{
    display: block;
    padding-top: 10px;
    color: rgb(29, 95, 126);
    font-family: josefin;
    font-size: 20px;
}

fieldset
{
    padding-left: 0px;
    border: 0;
}

a:link
{
    color: rgba(231, 75, 36);
    text-decoration: none;
}

a:visited
{
    color:rgb(173, 98, 12);
    text-decoration: none;
}

a:hover, a:active
{
    color: rgb(236, 138, 114);
    text-decoration: none;
}
